.row
  .col-lg-2
    = render "dashboards/feeds"
    
  .col-lg-7.padding15
    = render partial: "questions/question", collection: @dashboard.questions

  .col-lg-3
    = render "dashboards/who_to_follow", users: @dashboard.suggested_users(current_user)
