.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.top50 {
  margin-top: 50px;
}

.top70 {
  margin-top: 70px;
}

.bottom20 {
  margin-bottom: 20px;
}

.padding15 {
  padding: 15px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.mini {
  font-size: 14px;
}

.link {
  color: #000;
}

.link:hover {
  text-decoration: underline;
  color: #000;
}
